.header {
  width: 100%;
  height: 50px;
  background: #5e5e5e;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #2e2e2e;
  font-weight: 600;
}

.headerWrapper {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 80%;
  height: 100%;
}

.headerWrapper {
  font-style: inherit;
}

.headerWrapper span {
  cursor: pointer;
  padding: 5px;
  border: 2px solid black;
  border-radius: 5px;
  background: #d6d6d6;
  height: 100%;
  margin-left: 5px;
}

.headerWrapper span:hover {
  background: #b5b5b5;
}
